* {

}

div > div > div {
  margin: 2px;
}

.itemDiv {
  display: flex;
  flex-direction: column;
  margin: 4px;
  font-size: 0.7em;
}

.cartTitle {
  position: absolute;
  left: 50px;
  top: 0;
}

.cartContainer {
  text-align: center;
  margin-top: 0;
  overflow: scroll;
  border-right: 3px solid lightgray;
  height: 90%;
  width: 230px;
  position: fixed;
  left: 0px;
  display: flex;
  flex-direction: column;
}

.cartContainer h3 {
  color: #d32f2f;
}

.cartContainer button {
  margin: 0 auto;
  padding: 3px;
  color: green;
  max-width: 100px;
}


img {
  width: 50px;
  height: 50px;
}
