#compDiv {
  background-color: #444444;
  color: #e5e5e5;
  padding: 10px;
}

h1 {
  margin-top: 0;
}

.btn {
  text-decoration: underline;
  color: #d32f2f;
  cursor: pointer;
}

.panelToggle {
  position: absolute;
  right: 30px;
  top: 30px;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  font-size: 15px;
}

.undoBtn {
  margin-top: 10px;
  font-size: 15px;
  padding: 5px;
  border-radius: 5px;
}

tr td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: white;
  color: black;
  padding: 5px;
  max-width: 400px;
}

select {
  margin-right: 10px;
}

input {
  margin-right: 10px;
  border-radius: 5px;
  font-size: 0.9em;
}

input[type="submit"],  {
  padding: 4px;
}
